.pytest_cache/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
dist/
build/
.coverage
.DS_Store
.idea/
.vscode/
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.log
env/
.env

